
<div class="mt-3">

	<div class="grid auto3" id="accounts">

		<h6 class="text-muted border-bottom pb-2 mb-0">
			<a href="javascript:void(0);" onclick="setSorting('AccountID');" class="text-secondary">Account ID</a>
			<i id="sorting_icon_AccountID" class="fas fa-sort-down display-none"></i>
		</h6>

		<h6 class="text-muted border-bottom pb-2 mb-0">
			<a href="javascript:void(0);" onclick="setSorting('Username');" class="text-secondary">Username</a>
			<i id="sorting_icon_Username" class="fas fa-sort-down display-none"></i>
		</h6>

		<h6 class="text-muted border-bottom pb-2 mb-0">
			<a href="javascript:void(0);" onclick="setSorting('Group');" class="text-secondary">Group</a>
			<i id="sorting_icon_Group" class="fas fa-sort-down display-none"></i>
		</h6>

	</div>

</div>
