
<a class="btn btn-sm btn-primary ml-3 mb-3" data-toggle="collapse" href="#filters">
	<i class="fas fa-filter mr-2"></i>
	<span>Toggle Filters</span>
</a>



<div class="collapse" id="filters">
	<div class="card card-body">

		<div class="row">
			<button class="btn btn-sm btn-primary mx-3" onclick="applyFilters();">
				<i class="fas fa-check-circle mr-2"></i>
				<span>Apply Filters</span>
			</button>
			<button class="btn btn-sm btn-secondary mx-3" onclick="resetFilters();">
				<i class="fas fa-times-circle mr-2"></i>
				<span>Reset Filters</span>
			</button>
		</div>

	</div>
</div>
